<h2>Países</h2>
<hr>

<ul class="list-group">
  <button [routerLink]="['./by-capital']"
      routerLinkActive="active"
      class="list-group-item">
    Por capital
  </button>

  <button [routerLink]="['./by-country']"
      routerLinkActive="active"
      class="list-group-item">
    Por país
  </button>

  <button [routerLink]="['./by-region']"
      routerLinkActive="active"
      class="list-group-item">
    Por región
  </button>

  <button [routerLink]="['./bandera-pais']"
      routerLinkActive="active"
      class="list-group-item">
    Bandera Pais
</button>
</ul>

