<div class="d-flex flex-column">

  <span class="text-lg mb-4">Sign In</span>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Nombre Completo" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="onRegister()">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿Ya tienes cuenta?</a>
  </div>

</div>
