.container input{
  background: black;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 2px;
  font-size: xx-large;
  float: left;
}

#igual {
  width: 200px;
}

.container input:hover {
  background: violet;
  font-weight: bold;
}


.full {
  border: 10px solid pink;
  margin: 2px;
  padding: 12px;
  border-radius: 20px;
  background-image: url('../../../../assets/images/fondo-calculadora.jpg');
}

input[type="text"]{
  color:white;
  text-align: right;
}




